@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*-Register & Login & forgotten-password--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:url(HD1.jpg) no-repeat;
    background-size: cover;
    background-position: center;   
}

.wrapper{
    width:420px;
    background:transparent;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 80px rgba(0,0,0,.2);
    color:#fff;  
    border-radius: 10px;
    padding:30px 40px;
    box-shadow: 20px;
}

.wrapper h1{
    font-size: 36px;
    text-align:center;
}
.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}
.wrapper4{
    width:420px;
    background:transparent;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 80px rgba(0,0,0,.2);
    color:#fff;  
    border-radius: 10px;
    padding:30px 40px;
    box-shadow: 20px;
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    text-align: justify;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size:  16px;
    color:#fff;
    padding:20px 45px 20px 20px;

}

.input-box input::placeholder{
    color:#fff;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size:20px;
}

.wrapper .remember-forget{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input{
    accent-color:#fff;
    margin-right:3px;
}

.remember-forget a{
    color:#fff;
    text-decoration: none;
}

.remember-forget .a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width:100%;
    height:45px;
    background:#fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight: 600;
}

.wrapper .regiser-link{
    font-size: 14.5;
    text-align:center;
    margin: 20px 0 15px; 
}

.register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.regiser-link button{
    width:100%;
    height:45px;
    background:#fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight: 600;
}


@media only screen and (max-width: 800px) {
    .wrapper {
        width: 80%; 
        padding: 20px;
    }

    .input-box input {
        padding: 15px 35px 15px 15px; 
    }

    .wrapper h1 {
        font-size: 28px; 
    }

    .remember-forget {
        flex-direction: column; 
        align-items: flex-start;
        margin: 15px 0;
    }

    .remember-forget label {
        margin-bottom: 10px;
    }

    .btn {
        height: 40px; 
        font-size: 14px; 
    }

    .register-link {
        margin: 15px 0;
    }
}


@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90%; 
        padding: 15px;
    }
  .wrapper4{
      width:90%;
      padding:15px;
  }

  .wrapper4 h1{
      font-size: 24px;
  }
  .wrapper4 p{
      font-size: 15px;
  }
     
    .input-box input {
        padding: 12px 25px 12px 12px; 
    }


    .remember-forget label {
        font-size: 12px; 
    }

    .btn {
        height: 35px; 
        font-size: 12px; 
    }

    .register-link {
        font-size: 12px; 
    }
    
}

/*----Contact Us----*/
.contact{
    position:relative;
    min-height:100vh;
    padding: 50px 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background: url(DeeRedStore.jpg) no-repeat;
    background-size: cover;

/*---    display:flex;
        justify-content:center;
        align-items:center;
        和display:content的效果一样
----*/
}

